html {
  font-size: 18px;
  font-family: Helvetica;

}

/*HEADER*/

header {
  height: 30rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1rem;
}
header .flex {
  justify-content: flex-end;
}

nav {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.menu-hidden {
  display: none;
}
.logo-image {
  display: flex;
  align-items: center;
}
.logo-image img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
}

li {
  padding: 1rem 2rem;

}

ul {
  margin-right: 2rem;
}

/*BANNER*/

.flex.container {
  display: flex;
  align-items: center;
}

.banner-text {
 font-size: 2rem;
 font-weight: bold;
 padding: 1.5rem 5rem;
 background-color: #ffffff;
 line-height: 1.2rem;
 margin-top: 10rem;
margin-right: -2rem;
}

.service {
  display: flex;
  justify-content: center;
}

.services {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}

.paper {
  width: 3.5rem;
  height: auto;
}

.ruler {
  width: 5rem;
  height: auto;
}

.truck {
  width: 5rem;
  height: auto;
}

.description {
  display: block;
  text-align: center;
}

/*BUSINESS INFO*/

.business-info {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.title {
  background-color: cadetblue;
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
  color: #ffffff;
  font-weight: bold;

}
.info {
  margin-right: 5%;
  width: 35%;
}
.info p {
  margin-top: 1rem;
}
/*FOOTER*/

footer {
  background-color: azure;
  height: 8rem;
  margin: 5rem auto 0 auto;
  max-width: 960px;
}

.footer.container {
  display: flex;
  align-items: center;
  align-content: center;
}

.logo-black img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/*@media section*/

@media only screen and (max-width: 1024px) {
  nav {
    width: 100%;
  }

  header {
    padding-top: 0;
    height: 22rem;
  }

  .banner-text {
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
    font-size: 1.33rem;
  }

  .menu-hidden {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  nav {
    width: 100%;
  }

  header {
    background-position: 20%;
    height: 17rem;
    padding-top: 0;
  }
  .menu {
    display: none;
  }

  .banner-text {
    margin: 9rem 0 auto 0;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    padding: 1rem auto;

  }
  .menu-hidden {
    display: flex;
    align-items: center;
  }

  .service {
   display: flex;
   flex-direction: column;
   margin: 3.77rem 0;
  }

  .services {
    font-size: 0.77rem;
    margin: 0.77rem auto;
  }

  .business-info {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0;
  }

  .title {
    width: 100%;
    max-width: 100%;
  }

  .info {
    width: auto;
  }

  .info p {
    font-size: 0.77rem;
    margin: 1rem auto 4rem 0.5rem;
  }

  .footer p {
    display: none;
  }

  footer {
    display: flex;
    justify-content: center;
    margin-top: 0;
    width: 100%;
  }
}
